//
// Opacity
// modify the transparency of an element with this quick modifier classes
//

.opacity-1 {
    opacity: .1 ;
}
.opacity-2 {
    opacity: .2 ;
}
.opacity-3 {
    opacity: .3 ;
}
.opacity-4 {
    opacity: .4 ;
}
.opacity-5 {
    opacity: .5 ;
}
.opacity-6 {
    opacity: .6 ;
}
.opacity-7 {
    opacity: .7 ;
}
.opacity-8 {
    opacity: .8 ;
}
.opacity-8 {
    opacity: .9 ;
}
.opacity-10 {
    opacity: 1 ;
}
