/* nav */
$nav_background: #2e3e51;
$nav_primary: #233245;
$nav_secondary: #3b5068;
$nav_tertiary: #18293d;

/* common */
$mint: #4bc8a8;
$white: #fff;
$header: #f5f6f8;
$gray: #8f9194;
$gray-dark: #575756;
