$font-size-12: 0.625rem;
$line-height-12: 1rem;
$letter-spacing-12: -0.005em;

$font-size-13: 0.8125rem;
$line-height-13: 1.25rem;
$letter-spacing-13: -0.01em;

$font-size-14: 0.875rem;
$line-height-14: 1.5rem;
$letter-spacing-14: -0.01em;

$font-size-16: 1rem;
$line-height-16: 1.5rem;
$letter-spacing-16: -0.01em;

$font-size-18: 18px;
$line-height-18: 1.75rem;
$letter-spacing-18: -0.02em;

$font-size-24: 1.5rem;
$line-height-24: 2.125rem;
$letter-spacing-24: -0.01em;
